#menu {
  width: 25%;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url(../images/menu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#menu::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    55deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 67%,
    rgba(255, 255, 255, 0.5) 100%
  );
  opacity: 0.9;
  mix-blend-mode: hard-light;
}

#menu > * {
  z-index: 10;
}

#menu .container {
  max-width: 75ch;
  width: 80%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.5;
  transition: 0.7s ease-in-out;
}

#menu.active .container {
  opacity: 1;
}

.scrollUp,
.scrollDown {
  padding: 1rem;
  font-size: 2em;
  color: var(--color-white);
  opacity: 0;
  cursor: pointer;
  transform: scale(0);
  visibility: hidden;
  transition: 0.4s ease;
}

.scrollUp.active,
.scrollDown.active {
  padding: 1rem;
  font-size: 1.8em;
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

.scrollUp.active:hover,
.scrollDown.active:hover {
  transform: scale(1.2);
}

#menu .wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#menu h2 {
  align-self: flex-start;
  font-family: "Raleway";
  color: var(--color-yellow);
  font-size: 3em;
  margin-bottom: 2rem;
}

#menu.active h2 {
  opacity: 1;
}

#menu .menu-container {
  width: 100%;
}

#menu .tile {
  margin-bottom: 3rem;
}

#menu h3 {
  font-family: "Raleway";
  color: var(--color-white);
  font-size: 1.3em;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 1rem 0;
}

#menu .item {
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.1em;
}

.item .join {
  flex-grow: 1;
  margin: 0 3px;
  border-bottom: 1px dotted var(--color-white);
}

@media (max-width: 900px) {
  #menu {
    width: 100%;
  }

  #menu h2 {
    font-size: 2.5em;
  }
}

@media (max-width: 500px) {
  #menu h2 {
    font-size: 2em;
  }
}
